<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/grid.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="/lam-favicon/favicon.svg" />
    <link rel="shortcut icon" href="/lam-favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/lam-favicon/apple-touch-icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollTrigger.js"></script>
    <script type="module" src="js/main.js"></script>
    <title>London Aviation Museum Book of Remembrance Page</title>
</head>


<body data-page="book-of-remembrance">
    <section class="hero-bor">
    <header>
        <div class="grid-con">

            <div id="top-header" class="l-col-start-9 l-col-end-12">
                <nav>
                    <ul>
                        <li><a href="events-blog.html" aria-label="go to Events & Blog page">Event & Blog</a></li>
                        <li><a href="contact.html" aria-label="go to contsct page">Contact</a></li>
                    </ul>
                </nav>
            </div> 

            <a href="index.html" class="col-start-1 col-span-3 m-col-start-1 m-col-span-4" aria-label="home">
                 <picture id="header-logo">
                     <source media="(min-width: 768px)" srcset="images/lam_logo_light.svg">
                     <source media="(min-width:300px)" srcset="images/light_logo_mobile.svg">
                     <img src="images/light_logo_mobile.svg" alt="logo">
                </picture>
            </a>

            <div id="mob-menu" class="col-start-4 col-end-5 m-col-start-13">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div id="header-nav" class="l-col-start-5 l-col-end-12">
                <nav aria-label="Header Navigation">
                    <ul>
                        <li id="home"><a href="index.html" aria-label="go to home page">Home</a></li>
                        <li id="about-nav">
                            <div class="about-con">
                                <a href="about.html">About</a>
                                <div class="submenu-toggle">
                                    <img src="images/toggle-arrow.svg" alt="toggle arrow">
                                </div>
                            </div>
                            <ul id="about-sub" class="hidden">
                                <li><a href="education.html" aria-label="go to History page">Education</a></li>
                            </ul>
                        </li>
                        <li id="history-nav">
                            <div class="history-con">
                                <a>History</a>
                                <div class="submenu-toggle">
                                    <img src="images/toggle-arrow.svg" alt="toggle arrow">
                                </div>
                            </div>
                            <ul id="history-sub" class="hidden">
                                <li><a href="london-aviation.html" aria-label="go to History page">London Aviation History</a></li>
                                <li><a href="battle-of-britain.html" aria-label="go to battle of britain page">Battle of Britain</a></li>
                                <li><a href="artifacts.html" aria-label="go to artifacts page">Artifacts</a></li>
                                <li><a href="book_of_rem.html" aria-label="go to Book of Remembrance page">Book of Remembrance</a></li>
                            </ul>
                        </li>
                        <li><a href="wartime.html" aria-label="go to Wartime Experience page">Wartime Experience</a></li>
                        <li class="tablet-hide"><a href="events-blog.html" aria-label="go to Events & Blog page">Events & Blog</a></li>
                        <li class="tablet-hide"><a href="contact.html" aria-label="go to contsct page">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="grid-con" id="hero-text">
        <h1 id="hero-heading" class="col-span-full m-col-start-1 m-col-end-13">
            <span>Book of Remembrance</span>
        </h1>
        <p id="hero-p" class="col-span-full m-col-start-1 m-col-end-12">
            Explore a collection of artifacts that serve as silent witnesses to history. From weathered fliThe Book of Remembrance records and commemorates individuals from London, Ontario who gave their lives during the Second World War, preserving their names and documented histories as part of the historical record.ght jackets to recovered aircraft fragments, each piece preserves the memory of service, sacrifice, and dedication, honouring the lives and stories behind the London Aviation Museum.
        </p>
    </div>
    </section>

    <main>

        <div id="digital-book" class="grid-con">
            <a href="https://heyzine.com/flip-book/5c2627e65b.html" class="col-span-full m-col-span-6">
                <p>Vol 1:</p>
                <img src="images/vol1.png" alt="Digital Book of Remembrance Vol 1">
            </a>

            <a href="https://heyzine.com/flip-book/622334b75d.html" class="col-span-full m-col-span-6">
                <p>Vol 2:</p>
                <img src="images/vol2.png" alt="Digital Book of Remembrance Vol 2">
            </a>
        </div>
        <!-- Search Engine -->
        <section id="search-egn">
            <h2 class="hidden">Search Specific Pilot</h2>
            <form action="/action_page.php" class="grid-con">
                <div class="form-label m-col-start-1 m-col-end-5" id="name-input">
                    <label for="fname" class="input-title">Full Name:</label>
                    <input type="text" id="fname" name="fname" class="input-box">
                </div>

                <div class="form-label m-col-start-5 m-col-end-9">
                    <label for="gname" class="input-title">Email: </label>
                    <input type="text" id="gname" name="gname" class="input-box">
                </div>

                <div class="form-label m-col-start-9 m-col-end-13">
                    <label for="a-z" class="input-title">Email: </label>
                    <input type="text" id="a-z" name="a-z" class="input-box">
                </div>
                <div class="search-btn">
                    <input type="submit" value="Reset ↻" class="submit-btn">
                    <input type="submit" value="Search ⌕" class="submit-btn">
                </div>
            </form> 
        </section>

        <!-- Book of Remembrance Display -->
         <div id="bor-app">
        <section class="grid-con">
            <h2 class="hidden">Book of Remembrance Pilot List</h2>
            <div v-if="loadingRemembrances" class="loader col-span-full">
                    <img src="images/loader.svg" alt="Loading Artifacts">
                </div>
                <div v-else-if="remembrancesError" class="remembrances-error col-span-full">
                    <p>{{ remembrancesError }}</p>
                </div>
                <template v-else>
                    <template v-for="remembrances in remembrancesData" :key="remembrances.id">
                    <a :href="'all-pilots.html?id=' + remembrances.id" class="bor-title-text col-span-full m-col-span-6">
                        <div class="bor-pilot-info">
                            <h3>{{ remembrances.full_name }}</h3>
                            <p><span>Rank:</span>{{ remembrances.rank_title }}</p>
                            <p><span>Branch:</span>{{ remembrances.branch }}</p>
                            <p><span>Squadron:</span>{{ remembrances.squadron }}</p>                       
                        </div>
                        <p class="learn-more">&#8599;</p>
                    </a>
                </template>
            </template>

        
        </section>
        </div>

        <section class="section-header">
            <span class="line"></span>
            <h2>Courtesy Line</h2>
            <span class="line"></span>
        </section>

        <article class="grid-con court-line">
            <h3 class="hidden">Archival Material Acknowledgement</h3>
            <span class="col-span-full m-col-start-2 m-col-span-full">❛❜</span>
            <p class="col-span-full m-col-start-3 m-col-end-12"> The archival materials presented here from the Book of Remembrance have been provided courtesy of The Corporation of the City of London. We gratefully acknowledge the City of London for granting permission to use these historical records for educational, informational, and commemorative purposes.</p>
            <p class="col-span-full m-col-start-3 m-col-end-12">
                All rights, including copyright and intellectual property, remain with The Corporation of the City of London. These materials may not be reproduced, published, or distributed without express permission from the City. For more information, or to request permission for further use, please contact the City of London's Corporate Records Office.
            </p>
            <span class="m-col-end-12">❛❜</span>
        </article>
    </main>

   <footer>
        <div class="grid-con">
            <div class="col-span-full m-col-start-1 m-col-end-6 l-col-start-1 l-col-end-5" id="hr-right">
                <a href="index.html">
                <picture id="footer-logo">
                     <source media="(min-width: 768px)" srcset="images/lam_logo_light.svg">
                     <source media="(min-width:300px)" srcset="images/light_logo_mobile.svg">
                     <img src="images/light_logo_mobile.svg" alt="logo">
                </picture>
                </a>
            <p id="footer-quote">
                “Preserving the Skies. <br>
                Honouring the Sacrifice.”</p>
            </div>
        

            <nav id="footer-nav" class="col-span-full m-col-start-6 m-col-end-10 l-col-start-5 l-col-end-10" aria-label="footer navigation">
                <div>
                <p class="footer-nav-title">Quick Links</p>
                <ul>
                    <li><a href="index.html" aria-label="go to home page">Home</a></li>
                    <li><a href="london-aviation.html"  aria-label="go to histry page">History</a></li>
                    <li><a href="wartime.html" aria-label="go to Wartime Experience page">Wartime Experience</a></li>
                    <li><a href="FAQ.html" aria-label="go to FAQ page">FAQ</a></li>
                    <li><a href="privacy-policy.html" aria-label="go to Privacy Policy page">Privacy Policy</a></li>
                </ul>
                </div>

                <div>
                <p class="footer-nav-title">About Us</p>
                <ul>
                    <li><a href="about.html" aria-label="go to about page">About</a></li>
                    <li><a href="education.html" aria-label="go to about page">Education</a></li>
                    <li><a href="events-blog.html" aria-label="go to events & blog page">Events / Blog</a></li>
                    <li><a href="contact.html" aria-label="go to contact page">Contact</a></li>
                </ul>
                </div>
            </nav>

            <div id="address-info" class="col-span-full m-col-start-10 m-col-end-13">
            <div id="address">
                <img src="images/location.svg" alt="location icon">
                <p>2155 Crumlin Side Rd,<br>
                     London, Ontario <br>
                     N5V 3Z9, Canada.<br>
                     <a href="https://maps.app.goo.gl/JNsXHgoJZcLPed5u6">View on GG map</a></p>
            </div>

            <div id="contact-info" class="col-start-3 col-end-5">
                <div class="footer-contact-icon">
                    <img src="images/email.svg" alt="email icon">
                    <a href="mailto:info@427wing.com">info@427wing.com</a>
                </div>
                <div class="footer-contact-icon">
                    <img src="images/phone.svg" alt="phone icon">
                    <a href="tel:+5194550430">519-455-0430</a>
                </div>
            </div>
            </div>

            <p id="subscription-header" class="col-span-full m-col-start-6 m-col-end-10">
                SUBSCRIBE TO OUR NEWSLETTER!
            </p>

            
            <div class="col-span-full m-col-start-6 m-col-end-10">
            <div id="subscribe">
            <input type="text" id="emain-subscription" name="emain-subscription" placeholder="Enter email address">
             <input type="submit" value="Submit" id="subscribe-btn">
            </div>

            <div id="agree">
            <input type="checkbox">
            <p>I have read and accept the <a href="privacy-policy.html">Plivacy Policy. *</a>
            </p>
            </div>
            </div>

            <div id="sns" class="col-span-full m-col-start-10 m-col-end-13">
                <p>Social Media</p>
                <div class="sns-icon">
                    <a href="https://www.facebook.com/427winglondon/">
                        <img src="images/facebook.svg" class="facebook" alt="facebook icon">
                    </a>
                    <a href="https://www.instagram.com/427wing/">
                        <img src="images/instagram.svg" class="instagram" alt="instagram icon">
                    </a>
                    <a href="http://www.427wing.com">
                        <img src="images/x.svg" class="x" alt="x icon">
                    </a>
                    <a href="https://www.youtube.com/channel/UC8qWGIbfAr5cjSucEIKPpJw">
                        <img src="images/youtube.svg" class="youtube" alt="youtube icon">
                    </a>
                </div>

            </div>
            


        <small class="col-span-full">&copy; 2026 London Aviation Museum | Designed and Developed by Team Runway Six</small>
        </div>
    </footer>
</body>
</html>