@use '../abstracts';

// ===========================================
// HEADER NAV 
// ===========================================

#sub-header {
    display: none;
}

header {

    #header-logo,
    #menu-show img {
        height: 30px;
        width: auto;
        margin-top: 20px;
    }

    #menu-show {
        display: flex;
        justify-content: end;
        cursor: pointer;
    }

    input#hamburger {
        display: none;
    }


    #header-nav {
         position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: abstracts.$blue;
        opacity: 0;
        transform: translateX(100%);
        z-index: 900;

        nav ul {
            list-style: none;

            li {
                margin: 25px 50px;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    transform: scale(1);
                    transition: scale 0.3s ease-in-out;
                }
            }

        }
    }

    input#hamburger:checked~#header-nav {
        transform: translateX(0);
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    #header-nav-close {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin-top: 15px;
        cursor: pointer;
    }
}

// ===========================================
// HERO 
// ===========================================

#hero {
    background-color: #0a275a72;
    height: 350px;

    #hero-heading {
        color: #fff;
        margin-top: 150px;
        font-size: 16px;
        line-height: 30px;

        span {
            font-size: 25px;
        }
    }

    #hero-p {
        color: #fff;
        margin-top: 0;
    }
}

// ===========================================
// INLINE HEADER NAV
// ===========================================

@media screen and (min-width: 1200px) {
    #sub-header {
        display: block;
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            background-color: abstracts.$beige;
            padding: 5px 10px 5px 15px;

            li a {
                color: abstracts.$text-gray;
                font-weight: 600;
            }
        }
    }
    header {

        #mob-menu,
        #header-nav-close {
            display: none;
        }

        #header-logo {
            height: 50px;
            width: auto;
            margin-top: 20px;
        }

        #header-nav {
            opacity: 1;
            transform: translateX(0);
            background-color: transparent;
            position: static;
            height: auto;
            width: auto;
            transition: none;
            margin-top: 10px;
        
            nav ul {
            display: flex;
            justify-content: flex-end;
            gap: 20px;


            li {
                margin: 20px 0;
                
            
                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        padding-bottom: 3px;
                        border-bottom: 2px solid #fff;
                    }
                }
            
            }

            li#home {
                margin-right: 50px;
            }

        }
            .tablet-hide {
                display: none;
            }

        }
}



    #history-nav {
        position: relative;
        padding: 0 50px;

        .history-con {
            display: flex;
            gap: 8px;
        }

        .submenu-toggle img {
            width: 10px;
            margin-top: 10px;
        }

    }

    #history-sub {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: abstracts.$blue;
        padding: 10px 15px;
        z-index: 1000;
    }

    li#history-nav:hover > #history-sub {
         display: block !important;
    }

    #hero {
    height: 500px;

    #hero-heading {
        margin-top: 220px;

        span {
            font-size: 35px;
        }
    }

    #hero-p {
        margin-top: 0;
        padding-bottom: 50px;
    }
}
}