@use '../abstracts' as *;

// ===========================================
// HEADER NAV 
// ===========================================

.blue-header {
    background-color: $aviation_blue;
    padding-bottom: 10px;
}

#top-header {
    display: none;
}

header {

    #header-logo img {
        width: 150px;
        margin-top: 30px;

        @include tablet {
            width: 230px;
            margin-left: 20px;
        }

        @include desktop {
            width: 230px;
            margin-top: 0;
        }
    }

    #mob-menu {
        width: 40px;
        height: 26px;
        position: relative;
        border: none;
        background: none;
        cursor: pointer;
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;

        span {
            position: absolute;
            height: 3px;
            background-color: #fff;
            transition: 0.4s;
            text-align: end;
            right: 0;
            z-index: 900;

            &:nth-child(1) {
                top: 0;
                width: 100%;
            }
            &:nth-child(2) {
                top: 11.5px;
                width: 80%;
                right: 0;
            }
            &:nth-child(3) {
                bottom: 0;
                width: 100%;
            }

            
        }
    }

    #mob-menu {
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 11.5px;
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 11.5px;
                    bottom: auto;
                }
            }
        }
    }


    #header-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 90vh;
        width: 80vw;
        background-color: #315c77ef;
        opacity: 0;
        transform: translateX(100%);

        &.active {
            transform: translateX(0);
            opacity: 1;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        nav ul {
            list-style: none;

            li {
                margin: 25px auto 25px 50px;

                &:first-child {
                    margin-top: 120px;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 25px;
                    font-weight: 600;
                    transform: scale(1);
                    transition: scale 0.3s ease-in-out;
                }
            }

        }
    }    

    #history-nav {
        cursor: pointer;
    }

    .history-con {
            display: flex;
            gap: 8px;

            a {
                padding-bottom: 10px;
            }
        }

        .submenu-toggle img {
            width: 15px;
            margin-top: 20px;
        }

        #history-sub li {
            &:first-child {
                margin-top: 10px !important;

                @include desktop {
                    margin-top: 0 !important;
                }
            }
        
            a {
                font-size: 20px !important;
                

                @include desktop {
                    font-size: 16px !important;
                }
            }
        }

         #about-nav {
        cursor: pointer;
        }

        .about-con {
            display: flex;
            gap: 8px;

            a {
                padding-bottom: 10px;
            }
        }

        .submenu-toggle img {
            width: 15px;
            margin-top: 20px;
        }

        #about-sub li {
            &:first-child {
                margin-top: 10px !important;

                @include desktop {
                    margin-top: 0 !important;
                }
            }
        
            a {
                font-size: 20px !important;
                

                @include desktop {
                    font-size: 16px !important;
                }
            }
        }

}

// ===========================================
// HERO IMAGE
// ===========================================

.hero-bg {
    background-image: url(../images/home-hero.png);
    width: 100%;
    height: 600px;
}
#hero-text {
    margin-top: 180px;
    #hero-heading {
        color: #fff;
        font-size: 40px;
    }

    #hero-p {
        color: #fff;
        font-size: 18px;
    }
}

// ===========================================
// INLINE HEADER NAV
// ===========================================

@media screen and (min-width: 1200px) {
    #top-header {
        display: block;
        justify-self: end;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            background-color: $archive_beige;
            padding: 5px 10px;
            width: 230px;

            li a {
                color: $chacoal;
                font-weight: 500;
            }
        }
    }

    header {

        #mob-menu {
            display: none;
        }

        #header-nav {
            opacity: 1;
            transform: translateX(0);
            background-color: transparent;
            position: static;
            height: auto;
            width: auto;
            transition: none;
            margin-top: 10px;
        
            nav ul {
            display: flex;
            justify-content: flex-end;
            gap: 20px;


            li {
                margin: 20px 0 0 0;

                &:first-child {
                    margin-top: 20px;
                    
                    a {
                        margin-left: auto;
                    }
                }
            
                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        padding-bottom: 5px;
                        border-bottom: 2px solid #fff;
                    }
                }
            
            }

            li#home {
                margin-right: 20px;
            }

        }
            .tablet-hide {
                display: none;
            }

        }
}



    #history-nav {
        padding: 0 40px 10px 40px;

        a {
            &:hover {
            border-bottom: none !important;
            padding-bottom: 10px !important;
        }
    }

        .history-con{
            display: flex;
            gap: 8px;

            a {
                padding-bottom: 10px;
            }
        }

        .submenu-toggle img {
            width: 10px;
            margin-top: 11px;
        }

    }

    #history-sub {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 43%;
        background-color: $aviation_blue;
        z-index: 1000;

        li {
            text-align: center;
            border-bottom: 1px solid rgba(150, 150, 150, 0.187);
            transition: transform 0.3s ease-in-out;
            padding: 10px 15px;
            margin-top: 0 !important;

            
            &:hover {
                transform: scale(1.03);
            }


        }
    }

    #about-nav {
        padding: 0 30px 10px 40px;

        a {
            &:hover {
            border-bottom: none !important;
            padding-bottom: 10px !important;
        }
    }

        .about-con{
            display: flex;
            gap: 8px;

            a {
                padding-bottom: 10px;
            }
        }

        .submenu-toggle img {
            width: 10px;
            margin-top: 11px;
        }

    }

    #about-sub {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 28%;
        background-color: $aviation_blue;
        z-index: 1000;

        li {
            text-align: center;
            border-bottom: 1px solid rgba(150, 150, 150, 0.187);
            transition: transform 0.3s ease-in-out;
            padding: 10px 15px;
            margin-top: 0 !important;

            
            &:hover {
                transform: scale(1.03);
            }


        }
    }

    li#history-nav:hover > #history-sub {
         display: block !important;
    }

    li#about-nav:hover > #about-sub {
         display: block !important;
    }

    #hero {
    height: 500px;

    #hero-heading {
        margin-top: 220px;

        span {
            font-size: 35px;
        }
    }

    #hero-p {
        margin-top: 0;
        padding-bottom: 50px;
    }
}
}