@use '../abstracts';

header {

    #header-logo,
    #menu-show img {
        height: 30px;
        width: auto;
        margin-top: 20px;
    }

    #menu-show {
        display: flex;
        justify-content: end;
        cursor: pointer;
    }

    input#hamburger {
        display: none;
    }


    #header-nav nav ul {
        list-style: none;
    }

    #header-nav nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 32px;
        font-weight: 900;
        transform: scale(1);
        transition: scale 0.3s ease-in-out;
    }

    #header-nav nav ul li {
        margin: 25px 0;
    }

    #header-nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: abstracts.$blue;
        opacity: 0;
        transform: translateX(100%);
        z-index: 900;
    }

    input#hamburger:checked~#header-nav {
        transform: translateX(0);
        opacity: 1;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    #header-nav-close {
        font-weight: 900;
        font-size: 32px;
        color: #fff;
        display: flex;
        justify-content: end;
        margin-right: 30px;
        margin-top: 30px;
        cursor: pointer;
    }
}
@media screen and (min-width: 768px) {
    header {

        #mob-menu,
        #header-nav-close {
            display: none;
        }

        #header-logo {
            height: 50px;
            width: auto;
            margin-top: 20px;
        }

        #header-nav nav ul li {
            margin: 20px 0;
        }

        #header-nav {
            opacity: 1;
            transform: translateX(0);
            background-color: transparent;
            position: static;
            height: auto;
            width: auto;
            transition: none;
        }

        #header-nav nav ul {
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: flex-end;
            margin-right: 20px;
        }

        #header-nav nav ul li a {
            color: #fff;
            font-size: 16px;

            &:hover {
                padding-bottom: 3px;
                border-bottom: 2px solid #fff;
            }
        }
    }
}