@use '../abstracts' as *;

// ===========================================
// SEARCH FORM
// ===========================================

.hero-bor {
    background-image: url(../images/m-bor-hero.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 900px;

    @include tablet {
        height: 700px;
    }

    @include desktop {
        background-image: url(../images/l-bor-hero.jpg);
    }
}

#digital-book {
    margin: 50px auto;

    a {

        &:hover img {
            transform: scale(1.03);
        }

        img {
            transition: all .3s ease-in-out;
        }
        p {
            font-size: 18px;
            font-weight: 500;
            color: $aviation_blue;
        }
    }
}

#search-egn {
    background-color: $military_green;
    margin-bottom: 100px;
    margin-top: 100px;

    .form-label {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            margin-top: 50px;
            margin-bottom: 10px;
        }
    }

    #name-input label {
        margin-top: 50px;

        @include tablet {
            margin-top: 5px;
        }
    }

    label {
        text-align: center;
        color: #fff;
        font-size: 18px;
        @include desktop {
            font-size: 20px;
        }
        margin: 5px 0;
    }


    .input-box {
        height: 40px;
        width: 400px;
        @include tablet {
            width: 500px;
        }
        @include desktop {
            height: 50px;
            width: 600px;
        }
        margin-bottom: 20px;
    }

    #alart {
        font-size: 14px;
        color: #fff;
        font-style: italic;
        font-weight: 300;
        margin: 10px 0;
    }

    .submit-btn {
        background-color: $archive_beige;
        color: $heritage_red;
        border: 3px solid $heritage_red;
        border-radius: 30px;
        padding: 10px 50px;
        font-size: 15px;
        font-weight: 800;
        margin: 0;
        @include tablet {
            border-radius: 30px;
            padding: 20px 80px;
            font-size: 20px;
            font-weight: 800;
            margin: 0;
        }
        &:hover {
        color: #fff;
        background-color: $heritage_red;
    }
    }
}

.search-btn{
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    margin: 10px 0 30px;
    gap: 10px;
    @include tablet {
        margin: 20px 0 50px;
        gap: 16px;
    }
}

#bor-app {
    min-height: 50vh;
}

// ===========================================
// BOR DISPLAY
// ===========================================


.bor-title-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $aviation_blue;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }

    h3 {
    color: #fff;
    font-size: 20px;
    margin: 5px 40px;

        @include desktop {
            font-size: 23px;
        }
    }

    p {
        color: #fff;
        margin: 5px 40px;
    }

    .learn-more {
        color: #fff;
        font-size: 50px;
        margin-right: 20px;
        margin-top: -20px;
        transition: all .3s ease-in-out;

        &:hover {
            color: $heritage_red;
            font-weight: 600;
        }
    }
 
}


// ===========================================
// COURTERSY LINES
// ===========================================

.court-line {
    p{
        &:first-of-type{
            @include desktop{
                margin-bottom: 80px;
            }
        }
    }
    span{
        font-size: 60px;
    }
}

#date-selection {
    margin: 100px auto;

    #select-button-list {
        display: flex;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        

        button {
            width: 15px;
            height: 15px;
            border-radius: 30px;
            background-color: rgba(128, 128, 128, 0.814);
            cursor: pointer;
        }

        button.active {
            background-color: $aviation_blue;
        }
    }
    }
}